---
import Layout from '../layouts/Layout.astro';

const pageTitle = "My Astro Learning Blog";
---

<Layout title={pageTitle}>
    <main>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about/">About</a>

        <h1>{pageTitle}</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
 </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
