---
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav>
        <a href="/">
            <img class="nav-avatar" src="/avatar-green.png" alt="avatar of Thomas"/>
        </a>
        <ThemeIcon/>
    </nav>
</header>


<style>
  .nav-avatar {
    width: 42px;
    height: 42px;
    clip-path: circle(20px at center);
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
</style>