---
const pathname = new URL(Astro.request.url).pathname;
---

<div class="nav-links">
    <img class="nav-avatar" src="/avatar-green.png" alt="avatar of Thomas"/>
    <a class={pathname === "/" ? "active" : ""} href="/">Blog</a>
</div>

<style>
  .nav-avatar {
    width: 54px;
    height: 54px;
    clip-path: circle(26px at center);
  }

  a {
    color: black
  }

  a.active {
    color: blue;
  }
</style>
